*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color:  orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    max-width: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition : 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
}
.img-box img{
    border-radius: 50%;
    width: 350px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width:50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.footer .email{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: white;
}

/* Experience Page Specific Styles */
.experience{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    padding: 130px 12% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 42px;
    color: black;
    margin-bottom: 20px;
}
.experience-content{
    width: 100%;
    max-width: 800px;
}
.experience-item{
    background: white;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.experience-item h3{
    font-size: 28px;
    color: black;
    margin-bottom: 5px;
}
.experience-item span{
    font-size: 16px;
    color: gray;
    margin-bottom: 15px;
    display: inline-block;
}
.experience-item p{
    font-size: 18px;
    color: black;
}

/* Projects Page Specific Styles */
.projects{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    padding: 130px 12% 30px; /* Increased top padding */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .heading{
    font-size: 42px;
    color: black;
    margin-bottom: 50px;
}
.projects-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project-item{
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-item img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.project-info{
    text-align: center;
}
.project-info h3{
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}
.project-info p{
    font-size: 18px;
    color: gray;
}

/* Certificate Page Specific Styles */
.certificate {
    padding: 9% 12%;
    /* min-height: 100vh; */
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.certificate-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4em;
    width: 100%;
    max-width: 1200px;
    margin-top: 3em;
    padding-bottom: 2em;
}

.certificate-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate-item img {
    width: 10%;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.certificate-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.certificate-item span {
    font-size: 18px;
    color: #666;
}

/* Contact */
.contact,
.contact-active {
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact-active:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.contact:hover {
    background-color: rgb(241, 241, 241); /* No change on hover */
}

.contact-form form .input-box {
    margin-bottom: 1.5em;
}

.contact-form form .input-box input,
.contact-form form .input-box textarea {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    color: #333;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s ease;
}

.contact-form form .input-box textarea {
    resize: none;
    height: 150px;
}

.contact-form form .input-box input:focus,
.contact-form form .input-box textarea:focus {
    border-color: orangered;
}


/* kkkk */
.contact .heading,
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

#result {
    color: black;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        padding: 20px 5%; /* Adjust padding for smaller screens */
    }

    .navbar a {
        font-size: 14px; /* Decrease font size for smaller screens */
        margin: 0 10px; /* Decrease margin for smaller screens */
    }

    .contact {
        padding: 8px 15px; /* Adjust padding for smaller screens */
    }

    .home {
        gap: 2em; /* Decrease gap between elements for smaller screens */
    }

    .home-content h1 {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .home-content p {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .btn-box {
        max-width: 250px; /* Decrease max-width for smaller screens */
    }

    .img-box img {
        width: 250px; /* Decrease image width for smaller screens */
    }

    .about {
        gap: 3em; /* Decrease gap between elements for smaller screens */
    }

    .about-img img {
        width: 250px; /* Decrease image width for smaller screens */
    }

    .about-content h2 {
        font-size: 28px; /* Decrease font size for smaller screens */
    }

    .about-content h3 {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .about-content p {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .contact-form h2 {
        font-size: 22px; /* Decrease font size for smaller screens */
    }

    .contact-form form {
        max-width: 90%; /* Adjust max-width for smaller screens */
    }

    .contact-form form .input-box input,
    .contact-form form textarea {
        font-size: 12px; /* Decrease font size for smaller screens */
    }

    .footer .social a {
        font-size: 18px; /* Decrease font size for smaller screens */
        width: 30px; /* Decrease width for smaller screens */
        height: 30px; /* Decrease height for smaller screens */
        line-height: 28px; /* Decrease line-height for smaller screens */
    }

    .footer ul {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .footer .copyright {
        font-size: 8px; /* Decrease font size for smaller screens */
    }

    .footer .email {
        font-size: 12px; /* Decrease font size for smaller screens */
    }
}
